
.bg-upao {
	background-color: rgb(0, 86, 163);
}

.text-upao {
	color: rgb(0, 86, 163);
}

nav li {
	text-align: center;
}

.componente {
	padding: 20px 0;
	margin: 10px 0;
	background-color: white;
}

.comp-col {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	
	padding: 10px;
}
.btn-up, .btn-down {
	width: 80px;
	height: 40px;
}

.comp-col input {
	padding: 10px 5px 5px 5px;
}

.comp-col input[type='text'] {
	width: 100%;
}

.comp-col:has(input[type='number']) {
	flex-wrap: nowrap;
	overflow: hidden;
}

.comp-col input[type='number'] {
	width:inherit;
	max-width: 110px;
}

@media (max-width: 767.98px) { 

}